<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let event of specailEvents">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{event.id}}</h5>
                <p class="card-text">{{event.name}} </p>
                <a href="#" class="btn btn-success">Buy</a>
            </div>    
            <div class="card-footer text-muted">
                {{event.age}}
            </div>
        </div>
      
    </div>
</div>